<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="login-label" style="margin-top: 200px; padding-right: 17px; display: block;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="login-label">Steam Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="/login"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"></a><div style="margin-bottom:20px;"></div>
                <div style="font-size:12px;">
                    <p>Please use the above button to sign in with steam.</p>
                    {#<ul>#}
                        {#<li>Your Steam login credentials will not be shared with RedlineCS.</li>#}
                        {#<li>A unique numeric identifier will be shared with RedlineCS. Through this, NexusLeague.gg will be able to identify your Steam community profile and access information about your Steam account according to your Profile Privacy Settings.</li>#}
                        {#<li>Any information on your Steam Profile page that is set to be publicly viewable may be accessed by RedlineCS.</li>#}
                    {#</ul>#}
                </div>
            </div>
        </div>
    </div>
</div>