<a href="/profile/{{ player.steamid64 }}">
    <li class="list-group-item rounded-borders" data-bs-hover-animate="pulse" style="margin-top:20px;">
        <span class="player-name">
            <img class="rounded-circle" src="/img/icons/tie_icon.png" style="width:64px; margin-right:10px;">
            {{ player.name }}
            <span style="text-align:right;position:absolute;right:10%;top:30%;">
                <i class="far fa-star"></i> {{ player.score }} points
            </span>
        </span>
    </li>
</a>