<a id="{{ player.steamid64 }}" class="steam-profile" href="/profile/{{ player.steamid64 }}">
    <div class="list-group-item rounded-borders container" data-bs-hover-animate="pulse" style="margin-top:20px;box-shadow: none;">
        <div class="row player-name">
            <div class="col-xs-12 col-sm-6">
                <img class="rounded-circle steam-profile-avatarFul" src="/img/icons/loading.gif" style="width:64px; margin-right:5px;">
                <span class="steam-profile-name">
                    Loading...
                </span>
            </div>
            <div class="d-none d-md-block col-6" style="margin-top:15px; text-align: right;">
                <span class="fas fa-cannabis" style="color: #228b22"></span> {{ player.score }} points
            </div>
        </div>
    </div>
</a>