{% extends 'partials/base.twig' %}

{% block content %}
    <a href="{{ website }}" style="text-decoration: none;">
        <div class="background-gradient text-center text-white" style="background:#881228;height:300px;padding-top:110px;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="text-capitalize text-white" style="font-size:45px;margin-bottom:0;">
                            {{ baseTitle }}
                        </h1>
                        <p style="font-size:20px;">
                            {{ description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    {% include 'partials/match/latest-matches.twig' with latestMatches %}

    {% include 'partials/top-players.twig' %}
{% endblock %}