{% extends 'partials/base.twig' %}

{% block content %}
    <div class="matches container" style="margin-top: 20px;">
        <form method="post">
            <div class="search-container center" style="width: 70%;">
                <input type="text" name="search" placeholder="Search Match ID, Player Name or SteamID64" class="search-input">
                <button class="btn btn-light search-btn" type="submit" name="Submit"> <i class="fa fa-search"></i></button>
            </div>
        </form>

        {% if matches|length > 1 %}
            {% for match in matches %}
                {% include 'partials/match-bar.twig' with match %}
            {% endfor %}
        {% else %}
            <h1 style="margin-top:20px;text-align:center;">
                No Results!
            </h1>
        {% endif %}

        {% if pagination is defined %}
            {% include 'partials/pagination.twig' with pagination %}
        {% endif %}
    </div>
{% endblock content %}