{% extends 'Partials/base.twig' %}

{% block content %}
    <div class="matches container" style="margin-top: 20px;">
        {% include('/Partials/head.twig') %}

        <form method="post">
            <div class="search-container center" style="width: 70%;">
                <input type="text" name="search-bar" placeholder="Search Match ID, Player Name or SteamID64" class="search-input">
                <button class="btn btn-light search-btn" type="submit" name="Submit"> <i class="fa fa-search"></i></button>
            </div>
        </form>

        {% for match in matches %}
            {% include 'Partials/match-bar.twig' with match %}
        {% endfor %}

    </div>
{% endblock content %}