{% extends 'Partials/base.twig' %}

{% block content %}
    <div class="matches container" style="margin-top: 20px;">
        {% include('Partials/head.twig') %}

        <form method="post">
            <div class="search-container center" style="width: 70%;">
                <input type="text" name="search-bar" placeholder="Search Match ID, Player Name or SteamID64" class="search-input">
                <button class="btn btn-light search-btn" type="submit" name="Submit"> <i class="fa fa-search"></i></button>
            </div>
        </form>

        {% if matches|length > 1 %}
            {% for match in matches %}
                {% include 'Partials/match-bar.twig' with match %}
            {% endfor %}
        {% else %}
            <h1 style="margin-top:20px;text-align:center;">
                No Results!
            </h1>
        {% endif %}

        {#if (!isset($_POST['Submit'])) {#}
        {#$sql_pages = 'SELECT COUNT(*) FROM sql_matches_scoretotal';#}
        {#$result_pages = $conn->query($sql_pages);#}
        {#$row_pages = $result_pages->fetch_assoc();#}

        {#$total_pages = ceil($row_pages['COUNT(*)'] / $limit);#}

        {#if ($total_pages > 1) {#}
        {#echo '#}
        {#<nav style="margin-top:30px;width:80%;" class="center">#}
            {#<ul class="pagination">';#}

                {#{% if  %}#}
                {#if ($page_number == 1) {#}
                {#echo '#}
                {#<li class="page-item disabled">#}
                        {#<span class="page-link">#}
                            {#Previous#}
                        {#</span>#}
                {#</li>';#}
                {#} else {#}
                {#$past_page = $page_number - 1;#}
                {#echo '#}
                {#<li class="page-item">#}
                    {#<a class="page-link" href="?page=' . $past_page . '">#}
                        {#Previous#}
                    {#</a>#}
                {#</li>';#}
                {#}#}

                {#for ($i = max(1, $page_number - 2); $i <= min($page_number + 4, $total_pages); $i++) {#}
                {#if ($i == $page_number) {#}
                {#echo '#}
                {#<li class="page-item active">#}
                            {#<span class="page-link">#}
                                {#' . $i . '#}
                                {#<span class="sr-only">#}
                                    {#(current)#}
                                {#</span>#}
                            {#</span>#}
                {#</li>';#}
                {#} else {#}
                {#echo '#}
                {#<li class="page-item">#}
                    {#<a class="page-link" href="?page=' . $i . '">#}
                        {#' . $i . '#}
                    {#</a>#}
                {#</li>';#}
                {#}#}
                {#}#}
                {#if ($page_number == $total_pages) {#}
                {#echo '#}
                {#<li class="page-item disabled">#}
                        {#<span class="page-link">#}
                            {#Next#}
                        {#</span>#}
                {#</li>';#}
                {#} else {#}
                {#$next_page = $page_number + 1;#}
                {#echo '#}
                {#<li class="page-item">#}
                    {#<a class="page-link" href="?page=' . $next_page . '">#}
                        {#Next#}
                    {#</a>#}
                {#</li>';#}
                {#}#}
                {#echo '#}
            {#</ul>#}
        {#</nav>';#}
    </div>
{% endblock content %}