{% extends 'partials/base.twig' %}

{% block content %}
    <div style="margin-top:20px;color:rgb(0,0,0);">
        <div class="container">
            {#<form method="post" class="search-container rounded-borders" style="margin-bottom:10px;margin-top:45px;">#}
                {#<input type="text" name="search-bar" placeholder="Search Player Name or SteamID64" class="search-input" style="border: none !important;">#}
                {#<button class="btn btn-dark search-btn" type="submit" name="Submit"> <i class="fa fa-search"></i></button>#}
            {#</form>#}

            <div class="row">
                {% for player in players %}
                    {% include 'partials/player/player-card.twig' with player %}
                {% endfor %}
            </div>

            {% include 'partials/pagination.twig' with pagination %}
        </div>
    </div>
{% endblock %}