.center {
  margin-left:auto;
  margin-right:auto;
}

.match-image {
  background-size:cover;
  background: no-repeat center;
}

.pagination > li > a,
.pagination > li > span {
  color: #000000 !important;
  background: #fff;
}

.page-item.disabled .page-link {
  background-color: #b8b8b8;
}

.page-item.active .page-link,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background-color: #e9e9e9;
}

#not-wide-enough {
  z-index: 5000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #2b2b2b;
}

.error-content {
  padding: 0 0 70px;
}

.error-text{
  text-align: center;
}

.error {
  font-size: 180px;
  font-weight: 100;
}

@keyframes bob {
  0% {
    top: 0;
  }
  50% {
    top: 0.2em;
  }
}

.im-sheep {
  margin-top: 200px;
  display: inline-block;
  position: relative;
  font-size: 1em;
  margin-bottom: 70px;
}

.im-sheep * {
  transition: transform 0.3s;
}

.im-sheep .top {
  position: relative;
  top: 0;
  animation: bob 1s infinite;
}

.im-sheep:hover .head {
  transform: rotate(0deg);
}

.im-sheep:hover .head .im-eye {
  width: 1.25em;
  height: 1.25em;
}

.im-sheep:hover .head .im-eye:before {
  right: 30%;
}

.im-sheep:hover .top {
  animation-play-state: paused;
}

.im-sheep .head {
  display: inline-block;
  width: 5em;
  height: 5em;
  border-radius: 100%;
  background: #253858;
  vertical-align: middle;
  position: relative;
  top: 1em;
  transform: rotate(30deg);
}

.im-sheep .head:before {
  content: '';
  display: inline-block;
  width: 80%;
  height: 50%;
  background: #253858;
  position: absolute;
  bottom: 0;
  right: -10%;
  border-radius: 50% 40%;
}

.im-sheep .head:hover .im-ear.one, .im-sheep .head:hover .im-ear.two {
  transform: rotate(0deg);
}

.im-sheep .head .im-eye {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background: white;
  position: absolute;
  overflow: hidden;
}

.im-sheep .head .im-eye:before {
  content: '';
  display: inline-block;
  background: black;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  position: absolute;
  right: 10%;
  bottom: 10%;
  transition: all 0.3s;
}

.im-sheep .head .im-eye.one {
  right: -2%;
  top: 1.7em;
}

.im-sheep .head .im-eye.two {
  right: 2.5em;
  top: 1.7em;
}

.im-sheep .head .im-ear {
  background: #253858;
  width: 50%;
  height: 30%;
  border-radius: 100%;
  position: absolute;
}
.im-sheep .head .im-ear.one {
  left: -10%;
  top: 5%;
  transform: rotate(-30deg);
}

.im-sheep .head .im-ear.two {
  top: 2%;
  right: -5%;
  transform: rotate(20deg);
}

.im-sheep .body {
  display: inline-block;
  width: 7em;
  height: 7em;
  border-radius: 100%;
  background: #0054D1;
  position: relative;
  vertical-align: middle;
  margin-right: -3em;
}

.im-sheep .im-legs {
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 10%;
  z-index: -1;
}

.im-sheep .im-legs .im-leg {
  display: inline-block;
  background: #141214;
  width: 0.5em;
  height: 2.5em;
  margin: 0.2em;
}

.im-sheep::before {
  left: 0;
  content: '';
  display: inline-block;
  position: absolute;
  top: 112%;
  width: 100%;
  height: 18%;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.2);
}

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.nav-margins {
  margin-top: 5px;
}

.navbar {
  background-color: #313335 !important;
}

.navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .show>.nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,.3);
}

.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {
  color: #d1d1d1;
}

.footer-clean {
  padding: 50px 0;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: .8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

@media (max-width:768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

.footer-clean .item.social>i {
  font-size: 24px !important;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: .75;
}

.footer-clean .item.social>a:hover {
  opacity: .9;
}

@media (max-width:991px) {
  .footer-clean .item.social>a {
    margin-top: 40px;
  }
}
@media (max-width:767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
  .footer-clean .item.social>a {
    margin-top: 10px;
  }
}
.footer-clean .copyright {
  margin: 14px 0;
  font-size: 13px;
  opacity: .6;
}
.table-borderless td, .table-borderless th {
  border: 0 !important;
}

.search-container {
  display: flex;
  font-size: 14px;
  margin: 25px 0;
}

.search-input {
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  border-right: none;
  width: 100%;
}

.btn.btn-default.search-btn {
  border: 1px solid #ddd;
  background-color: #FFF!important;
  border-radius: 0 5px 5px 0;
  border-left: none;
  background-image: none;
  box-shadow: none;
  color: #919693;
}

.player-name {
  font-size: 20px;
}

.match-card {
  color: #fff;
  border: none !important;
}

.rounded-borders {
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, .58);
  -moz-box-shadow: 0 0 40px -5px rgba(0, 0, 0, .58);
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, .58);
  border-radius: 25px !important;
}

.elo-badge {
  background: #2db7cf!important;
  background: linear-gradient(180deg,#00a5f2 0,#0067bb 100%) !important;
}

.badge-display {
  background-color: #0081b3;
}