<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        RedlineCS
        {% block title %}
            {% if title is defined %}
                | {{ title }}
            {% endif %}
        {% endblock %}
    </title>

    {% include 'styles.twig' %}
</head>

<body>
    {% include 'min-width.twig' %}

    {% block content %}{% endblock %}

    {% include 'scripts.twig' %}
</body>
</html>