<div class="footer-clean" style="text-align: center">
    <footer style="margin-top:45px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 item">
                    <h3>Navigation</h3>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/matches">Matches</a></li>
                        <li><a href="/players">Players</a></li>
                        {#<li><a href="/ladder">Ladder</a></li>#}
                        {#<li><a href="/profile">Profile</a></li>#}
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 item">
                    <p class="copyright">
                        RedlineCS © {{ "now"|date('Y') }}
                    </p>

                    <a href="https://github.com/b3none" style="font-size: 15px !important;">
                        Kindly developed by B3none
                        <i class="icon fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>