<nav class="navbar navbar-light navbar-expand-md sticky-top" style="background-color:#ffffff;-webkit-box-shadow: 0 0 4px 2px #000000; -moz-box-shadow: 0 0 12px 0 #000000; box-shadow:0 0 12px 0 #000000;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">
            <img class="img-fluid" style="height: 75px;" src="https://redlinecs.net/images/logo.png">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto" style="font-size:20px;">
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if nav.active == 'home' %}active{% endif %} nav-margins" href="/home">
                        <i class="fas fa-home"></i>&nbsp;Home
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if nav.active == 'matches' %}active{% endif %} nav-margins" href="/matches">
                        <i class="fas fa-tv"></i>&nbsp;Matches
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if nav.active == 'players' %}active{% endif %} nav-margins" href="/players">
                        <i class="fas fa-users"></i>&nbsp;Players
                    </a>
                </li>
                {#<li class="nav-item" role="presentation"><a class="nav-link  nav-margins" href="/ladder"><i class="far fa-list-alt"></i>&nbsp;Ladder</a></li>#}
                <li class="nav-item" role="presentation">
                    <a class="nav-link">
                        <button class="btn btn-success" data-toggle="modal" data-target="#login" type="button">
                            <i class="fas fa-sign-in-alt"></i>&nbsp;login
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% include 'partials/modals/login.twig' %}