<div style="margin-top:45px;">
    <div class="container">
        <a class="text-white text-center" href="/matches">
            <h1>Latest matches</h1>
        </a>

        {% if latestMatches|length > 1 %}
            <div id="matches" class="row" style="margin-top:-25px;">
                <div class="col-md-12">
                    {% for match in latestMatches %}
                        {% include 'partials/match/match-bar.twig' with match %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            {% include 'partials/no-results.twig' %}
        {% endif %}
    </div>
</div>